---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { getCollection } from "astro:content";
const blogCount = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE).length;
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        {blogCount > 0 &&
          <Link href="/blog">
            blog
          </Link>
          <span>
            {`/`}
          </span>
        }
        <!-- <Link href="/work">
          work
        </Link>
        <span>
          {`/`}
        </span> -->
        <Link href="/projects">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>
