@font-face {
    font-family: "Sailec";
    src: url(Sailec-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Sailec";
    src: url(Sailec-Medium.ttf);
    font-weight: bold;
}

body {
    background-size: cover;
    background-position: bottom;
    -webkit-font-smoothing: antialiased;
    color: #031b4e;
    background-image: url(bg.svg);
    font-family: Sailec, sans-serif !important;
    margin: 0;
}

.container {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box {
    width: 70%;
    text-align: center;
    box-shadow: 0 20px 20px 20px rgba(3,7,8,.1);
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5px;
    background-color: #fff;
    max-width: 600px;
    transition: .2s;
}

.image {
    box-shadow: 0 10px 20px 0 rgba(3,7,8,.1);
    margin-top: -4rem;
    height: 8rem;
    border-width: 1px;
    border-radius: 9999px;
    border-color: #bdbdbd;
    max-width: 100%;
    border-style: solid;
}

.name {
    font-size: 2em;
    margin: 0;
    margin-top: 1rem;
}

.desc {
    font-size: 1.25rem;
}

.p1, .p2, .p3 {
    margin: 0;
}

.p1 {
    margin-top: 2rem;
}

.p2 {
    margin-top: .5rem;
}

.p3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #031b4e;
    transition-duration: .2s;
}

a:hover {
    text-decoration: underline;
    color: #0069ff;
    transition-duration: .2s;
    transition-property: color;
}

html [type=button] {
    -webkit-appearance: button;
}

button, input {
    border-radius: 5px;
    padding: .75rem .5rem;
    margin-bottom: .5rem;
    font-family: inherit;
    overflow: visible;
    font-size: 100%;
    line-height: 1.15;
    text-align: center;
    cursor: pointer;
}

.email {
    border: 1px solid #7a7a7a;
    width: calc(100% - 18px);
    outline: none;
    cursor: text;
}

.subscribe {
    width: 100%;
    background-color: #0069ff;
    border: none;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.subscribe:hover {
    background: #005ad8;
}

button {
    width: calc(100%/3 - 5px);
    color: white;
    border: none;
}

.github {
    margin-right: 3px;
    background: #171515;
}

.github:hover {
    background: #333333;
}

.facebook {
    margin-right: 3px;
    background: #4267b2;
}

.facebook:hover {
    background: #315aac;
}

.paypal {
    background: #253B80;
}

.paypal:hover {
    background: #222065;
}
